SCPWikiDumper/dumps/
AmazonScraper/scrapes/
RobloxBadgeDumper/user_scrapes/
test.py
AppMonitor/tempCodeRunnerFile.py
auth.json
WebsiteScreenshot/data/webhook.txt
AppMonitor/logs/run.log
AppMonitor/logs/software.log
